<!DOCTYPE html>
<html>
  <head>
    <title>colores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container" style="background: <%= colores %>">
      <form action="/" method="post">
        <label for=""> elije un color </label>
        <select name="color" id="color">
          <option value="red">rojo</option>
          <option value="yellow">amarillo</option>
          <option value="green">verde</option>
          <option value="black">negro</option>
          <option value="pink">rosa</option>
        </select>
        <button type="submit">enviar</button>
      </form>

      <a href="/algo">algo</a>
    </div>
  </body>
</html>
